@let _submitEnd = submitEnd();

<div class="card flex justify-center">
  <p-dialog 
    header="Exclusión" 
    modal 
    maximizable 
    draggable="false" 
    [(visible)]="visible" 
    [closable]="_submitEnd"
    styleClass="w-[95%] max-w-screen-sm">
    <span class="p-text-secondary block mb-8">
      Deshabilita los sensores que desees y luego activa la alarma.
    </span>

    <form [formGroup]="exclusionForm()" class="mb-4" (ngSubmit)="onSubmit()">
      <p-table [value]="sensors()">
        <ng-template #body let-sensor>
          <tr class="row">
            <td>
              <i class="pi pi-hashtag !text-xs mr-1"></i>
              <span>{{ sensor.name }}</span>
            </td>
            <td class="!text-right md:!text-right !font-semibold !text-muted-color-emphasis">
              <p-toggle-switch 
                [formControlName]="sensor.number"
                trueValue="On"
                falseValue="Off" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>

    <div class="text-center mt-8">
      <p-button 
        id="btn-activate" 
        label="Activar alarma" 
        severity="danger" 
        raised 
        outlined 
        icon="pi pi-lock"
        styleClass="w-full sm:w-max sm:!px-16 red-text red-border" 
        [disabled]="!_submitEnd" 
        (onClick)="onSubmit()" />
    </div>
  </p-dialog>
</div>
