@use '../../dashboard.component.scss';
@use '../../../../scss/variables.scss';

// Header
.house-header {
   .house-avatar {
      @include dashboard.house-avatar-base(var(--p-emerald-500),
         var(--p-emerald-600),
         rgb(16, 185, 129));

      &.armed {
         background: linear-gradient(135deg, var(--p-red-500), var(--p-red-600));
         box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);

         :host-context(.my-app-dark) & {
            box-shadow: 0 4px 12px rgba(239, 68, 68, 0.5);
         }
      }

      @media (max-width: 768px) {
         i {
            font-size: 1.8rem;
         }
      }
   }
}

// Tamaño de candado
.lock-item {
   font-size: 5rem;

   &.pi-lock-open {
      transform: translateX(14%);
   }
}

// Sección de Sensores
.sensors-section {
   margin-bottom: 2rem;
}
