<h4 class="text-muted-color tracking-wide mb-8">Historial de disparos de Alarma</h4>
<div>
  <p-timeline [value]="history()">
    <ng-template #opposite let-event>
      <small class="text-surface-500 dark:text-surface-400 block md:inline">{{ event.fechaHora | date: 'dd/MM/yyyy' }}</small>
      <small class="text-surface-500 dark:text-surface-400 ml-2">{{ event.fechaHora | date: 'HH:mm'}}</small>
    </ng-template>

    <ng-template #content let-event>
      <span>{{ event.nombreDispositivo }}</span>
    </ng-template>
  </p-timeline>
</div>
