.animate-spin {
    border-radius: 50%;
    border: solid 5px gray;
    border-bottom: none;
    border-top: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
