@let _isLoading = isloading();
@let _houses = houses();

<section>
  <h4 class="mb-4 text-muted-color tracking-wide">SITIOS</h4>

  @if (_isLoading) {
    <div class="text-center pt-8">
      <h3>Cargando casas...</h3>
    </div>
  } 
  @else if (_houses.length < 1) {
    <div class="text-center pt-8">
      <h3>Aún no hay sitios en tu cuenta.</h3>
      <p class="text-muted-color mt-2">Solicita agregar un sitio comunicandote con nosotros.</p>

      <p-button 
        label="Ir a mi perfil" 
        severity="primary"
        styleClass="!px-6 mt-16"
        (click)="navigateToProfile()" />
    </div>
  }
  @else {
    <div class="flex flex-col gap-3">
      @for (site of _houses; track $index) {
        <app-house-card [house]="site" />
      }
    </div>
  }
</section>
