@let houseProperty = houseProp();
@let _submitEnd = submitEnd();

<div class="card flex justify-center">
  <p-dialog [header]="headerText()" [modal]="true" [(visible)]="visible" [closable]="_submitEnd" styleClass="w-[95%] max-w-screen-sm">
    <span class="p-text-secondary block mb-8">
      {{ houseProperty === 'sensorName' ? 'Actualiza información del sensor' : 'Actualiza la información del sitio' }}
    </span>

    @switch (houseProperty) {
      @case ('houseName') {
        <div class="flex items-start gap-4 mb-4">
          <label for="name" class="font-semibold w-24">Nombre</label>
          <div class="grow">
            <input pInputText id="name" type="text" autocomplete="off" class="w-full" [formControl]="formControl" />
            <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
              El campo es requerido.
            </small>
          </div>
        </div>
      }

      @case ('street') {
        <div class="flex items-start gap-4 mb-4">
          <label for="street" class="font-semibold w-20 pt-2">Calle</label>
          <div class="grow">
            <input pInputText id="street" type="text" autocomplete="off" value="-" class="w-full" [formControl]="formControl" />
            <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
              El campo es requerido.
            </small>
          </div>
        </div>
      }

      @case ('number') {
        <div class="flex items-start gap-4 mb-4">
          <label for="number" class="font-semibold w-24 pt-2">Número</label>
          <div class="grow">
            <input pInputText id="number" type="text" autocomplete="off" value="-" class="w-full" [formControl]="formControl" />
            <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
              El campo es requerido.
            </small>
          </div>
        </div>
      }

      @case ('city') {
        <div class="flex items-start gap-4 mb-4">
          <label for="city" class="font-semibold w-24 pt-2">Ciudad</label>
          <div class="grow">
            <input pInputText id="city" type="text" autocomplete="off" value="-" class="w-full" [formControl]="formControl" />
            <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
              El campo es requerido.
            </small>
          </div>
        </div>
      }

      @case ('sensorName') {
        <div class="flex items-start gap-4 mb-4">
          <label for="sensorName" class="font-semibold w-24 pt-2">Nombre</label>
          <div class="grow">
            <input pInputText id="sensorName" type="text" autocomplete="off" value="-" class="w-full" [formControl]="formControl" />
            <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
              El campo es requerido.
            </small>
          </div>
        </div>
      }
    }

    <ng-template #footer>
      <p-button label="Cancelar" severity="secondary" [disabled]="!_submitEnd" (onClick)="close()"/>
      <p-button label="Guardar" [disabled]="!_submitEnd" (onClick)="onSubmit()" />
    </ng-template>
  </p-dialog>
</div>
