@let _submitted = submitted();

<p-dialog [modal]="true" [visible]="visible()">
  <ng-template #headless>
    <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 border-r">
      <div
        class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-16 w-16 -mt-16">
        <i class="pi pi-question !text-2xl"></i>
      </div>

      <span class="font-bold text-xl block mb-2 mt-6">{{ title() }}</span>

      <p class="mb-0">{{ description() }}</p>
      
      <div class="flex items-center gap-2 mt-6">
        <p-button 
          [label]="acceptLabel()"
          styleClass="w-32"
          [disabled]="!_submitted"
          (onClick)="onAccept()" />
        <p-button 
          label="Cancelar" 
          [outlined]="true" 
          styleClass="w-32" 
          [disabled]="!_submitted" 
          (onClick)="onReject()" />
      </div>
    </div>
  </ng-template>
</p-dialog>
