<div class="card flex justify-center">
  <p-dialog header="Modificar clave" [modal]="true" [(visible)]="visible" [closable]="closable()"
    styleClass="w-[95%] max-w-screen-sm">
    <span class="p-text-secondary block mb-8">Establece una nueva contraseña.</span>

    <form [formGroup]="passForm" autocomplete="off" (ngSubmit)="onSubmit()" >
      <div class="flex items-center gap-4 mb-4">
        <label for="current-pass" class="font-semibold w-24">Contraseña actual</label>
        <div class="grow">
          <p-password id="current-pass" toggleMask feedback="false" formControlName="currentPassword" />
          <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
            Mínimo 6 caracteres.
          </small>
        </div>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="new-pass" class="font-semibold w-24">Nueva contraseña</label>
        <div class="grow">
          <p-password id="new-pass" toggleMask promptLabel="Escribe una contraseña" weakLabel="Débil"
            mediumLabel="Medio" strongLabel="Fuerte" formControlName="newPassword" />
          <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
            Mínimo 6 caracteres.
          </small>
        </div>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="re-new-pass" class="font-semibold w-24">Repite contraseña</label>
        <div class="grow">
          <p-password id="current-pass" toggleMask feedback="false" formControlName="confirmPassword" />
          <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
            Las contraseñas no coinciden.
          </small>
        </div>
      </div>
    </form>

    <ng-template #footer>
      <p-button label="Cancelar" severity="secondary" [disabled]="disabled()" (onClick)="close()" />
      <p-button label="Guardar" [disabled]="disabled()" (onClick)="onSubmit()" />
    </ng-template>
  </p-dialog>
</div>
