@let formEmail = form.controls['email'];

<form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <input
      pInputText
      type="email"
      name="email"
      ngModel
      placeholder="Correo electrónico"
      class="w-full"
      email
      required />
    @if (formEmail?.invalid && (formEmail?.touched || form.submitted)) {
      <small class="block text-red-600">Formato de correo no válido.</small>
    }

    <p-button
      type="submit"
      label="Enviar"
      severity="primary"
      styleClass="mt-4 !px-6"
      [loading]="isSubmitting()" />
  </form>
