<nav class="hidden xl:block fixed top-0 left-0 h-full w-72 pt-12 side-nav" [class.show]="!isHome()">
  <div class="sidebar-content">
    <div class="nav-section">
      <ul class="nav-menu">
        <li class="nav-item">
          <p-button label="Principal" severity="secondary" icon="pi pi-home" styleClass="nav-button"
            routerLink="/dashboard/hub" routerLinkActive="active" />
        </li>
        <li class="nav-item">
          <p-button label="Historial" severity="secondary" icon="pi pi-history" styleClass="nav-button"
            routerLink="/dashboard/history" routerLinkActive="active" />
        </li>
        <li class="nav-item">
          <p-button label="Perfil" severity="secondary" icon="pi pi-user" styleClass="nav-button"
            routerLink="/dashboard/profile" routerLinkActive="active" />
        </li>
        <li class="nav-item">
          <p-button label="Ajustes" severity="secondary" icon="pi pi-cog" styleClass="nav-button"
            routerLinkActive="active" (onClick)="toggleDarkMode()" />
        </li>
      </ul>
    </div>

    <div class="logout-section">
      <p-button 
        styleClass="logout-full-button" 
        (onClick)="logout()">
        <div class="logout-card">
          <div class="logout-content">
            <div class="logout-icon">
              <i class="pi pi-sign-out"></i>
            </div>
            <div class="logout-info">
              <span class="logout-title">Cerrar sesión</span>
              <span class="logout-subtitle">Salir del sistema</span>
            </div>
          </div>
        </div>
      </p-button>
    </div>
  </div>
</nav>

<app-modal-logout [showModal]="showDialog()" (closeModal)="cancelLogout()" />
