<h4 class="text-muted-color tracking-wide mb-3">PERFIL</h4>

<section class="mb-4">
  <p-card styleClass="mb-8">
    <ng-template #content>
      <ul class="list-card">
        <li>
          <span class="font-normal block  mb-2">Email: </span>
          <span class="m-4 ">{{ email }}</span>
        </li>
        <li>
          <span class="font-normal block  mb-1">Nombre Titular: </span>
          <span class="m-4 ">{{ name }}</span>
          <app-btn-edit-card (click)="showDialog('profile', 'name')" />
        </li>
        <li>
          <span class="font-normal block  mb-1">Apellido Titular: </span>
          <span class="m-4 ">{{ lastname }}</span>
          <app-btn-edit-card (click)="showDialog('profile', 'lastname')" />
        </li>
        <li>
          <span class="font-normal block  mb-1">Teléfono: </span>
          <span class="m-4 ">{{ phone }}</span>
          <app-btn-edit-card (click)="showDialog('profile', 'phone')" />
        </li>
      </ul>

      <div class="mt-6 md:max-w-xs">
        <p-button label="Cambiar contraseña" styleClass="w-full" (onClick)="showDialog('password')" />
      </div>
    </ng-template>
  </p-card>
</section>

<h4 class="text-muted-color tracking-wide mb-3">SITIOS</h4>

<section class="mb-4">
  <p-card styleClass="mb-8">
    <ng-template #content>
      <ul class="list-card">
        @for (house of houses; track $index) {
        <li>
          <span class="m-4">{{ house.name }}</span>
          <app-btn-edit-card routerLink="./house/{{ house.id }}" />
        </li>
        }
      </ul>
    </ng-template>
  </p-card>
</section>

<div class="mt-8 md:max-w-xs xl:hidden">
  <p-button label="Cerrar Sesión" variant="outlined" styleClass="w-full" />
</div>

@if (this.profileProp) {
<app-modal-profile [visible]="visibleProfileModal" [profileProp]="profileProp" [propValue]="propValue"
  (visibleChange)="closeDialog()" />
}

@if (this.profileProp) {
<app-modal-password [visible]="visiblePassModal" (visibleChange)="closeDialog()" />
}
