<p-card>
  <p-table [value]="sensors()" selectionMode="single">
    <ng-template #body let-sensor>
      <tr
        [pSelectableRow]="sensor"
        class="sensor-row"
        routerLink="./sensor/{{ sensor.number }}">
        <td class="cell-left">
          <span class="sensor-icon" aria-hidden="true">
            <i class="pi pi-hashtag"></i>
          </span>
          <span class="sensor-name">{{ sensor.name }}</span>
        </td>
        @if (isAlarmOn()) {
          <td class="cell-status">
            <span
              class="status-pill"
              [ngClass]="{ 'on': sensor.state === 'On', 'off': sensor.state !== 'On' }">
              {{ sensor.state === 'On' ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
        }
        @else {
          <td class="cell-status">
            <span class="status-pill neutral">Disponible</span>
          </td>
        }
        <td class="cell-chevron" aria-hidden="true">
          <i class="pi pi-chevron-right"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
