<div class="auth-validation-container">
  <h2>Restablecer contraseña</h2>
  <p>Ingresa tu nueva contraseña.</p>

  <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <p-password
        id="password"
        placeholder="Contraseña"
        toggleMask
        promptLabel="Escribe una contraseña"
        weakLabel="Débil"
        mediumLabel="Medio"
        strongLabel="Fuerte"
        styleClass="w-full"
        formControlName="password" />
      <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
        Mínimo 6 caracteres.
      </small>
    </div>

    <div class="mb-6">
      <p-password
        id="re-password"
        placeholder="Repite la contraseña"
        toggleMask
        feedback="false"
        styleClass="w-full"
        formControlName="confirmPassword" />
      <small class="block h-0 overflow-hidden text-red-600 transition-all duration-100 ease-out">
        Las contraseñas no coinciden.
      </small>
    </div>

    <p-button
      label="Enviar"
      type="submit"
      styleClass="!px-6"
      [loading]="isSubmitting()" />
  </form>
</div>
